Software Files/Cloud Design Files/NodeRedFlow4-26.txt
[{"id":"64b0c5a9.f2854c","type":"tab","label":"Status Updates","disabled":false,"info":""},{"id":"ebe94379.6c9cd","type":"ibmiot in","z":"64b0c5a9.f2854c","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Platform","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":100,"wires":[["4c3b9d29.027c84","46c7cbc2.e3c504","f68651f8.fd7ea"]]},{"id":"4c3b9d29.027c84","type":"cloudant out","z":"64b0c5a9.f2854c","name":"Cloudant Database","cloudant":"","database":"connectedfarmsnodered","service":"Cloudant-2w-2354","payonly":true,"operation":"insert","x":390,"y":60,"wires":[]},{"id":"46c7cbc2.e3c504","type":"debug","z":"64b0c5a9.f2854c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":100,"wires":[]},{"id":"f68651f8.fd7ea","type":"json","z":"64b0c5a9.f2854c","name":"JSONtoSQL","property":"payload","action":"obj","pretty":false,"x":450,"y":280,"wires":[["45fe05ec.39918c","3418e70f.8dbc78"]]},{"id":"45fe05ec.39918c","type":"dashDB out","z":"64b0c5a9.f2854c","dashDB":"","service":"ConnectedFarms","table":"CAMERAS","name":"DB2 Database","x":680,"y":180,"wires":[]},{"id":"3418e70f.8dbc78","type":"debug","z":"64b0c5a9.f2854c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":300,"wires":[]},{"id":"7d2ec482.c42bdc","type":"ibmiot in","z":"64b0c5a9.f2854c","authentication":"boundService","apiKey":"","inputType":"devsts","logicalInterface":"","ruleId":"","deviceId":"0001","applicationId":"","deviceType":"Camera","eventType":"+","commandType":"","format":"json","name":"Device 1 Status","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":380,"wires":[["b2f44d15.607d","76a4afd5.4bd4b"]]},{"id":"b2f44d15.607d","type":"debug","z":"64b0c5a9.f2854c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":380,"wires":[]},{"id":"f33ebba8.b2d6a8","type":"ibmiot in","z":"64b0c5a9.f2854c","authentication":"boundService","apiKey":"","inputType":"devsts","logicalInterface":"","ruleId":"","deviceId":"0002","applicationId":"","deviceType":"Camera","eventType":"+","commandType":"","format":"json","name":"Device 2 Status","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":460,"wires":[["cfe23204.3db7c","2e77a78b.eaf8e8"]]},{"id":"cfe23204.3db7c","type":"debug","z":"64b0c5a9.f2854c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":460,"wires":[]},{"id":"c824ed73.bc49e","type":"function","z":"64b0c5a9.f2854c","name":"TimeStamp","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\n month = '0'+month;\n}\nif(day.toString().length == 1) {\n day = '0'+day;\n}   \nif(hour.toString().length == 1) {\n hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\n minute = '0'+minute;\n}\nif(second.toString().length == 1) {\n second = '0'+second;\n}   \nmsg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[[]]},{"id":"76a4afd5.4bd4b","type":"change","z":"64b0c5a9.f2854c","name":"Store Device 1 Status","rules":[{"t":"set","p":"action1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":420,"wires":[[]]},{"id":"cb463bbe.e4cdb8","type":"http in","z":"64b0c5a9.f2854c","name":"","url":"/camera1","method":"get","upload":false,"swaggerDoc":"","x":710,"y":400,"wires":[["cd2312e1.b68d8"]]},{"id":"cd2312e1.b68d8","type":"change","z":"64b0c5a9.f2854c","name":"Copy Device 1 Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"action1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["4cb11f06.91986"]]},{"id":"4cb11f06.91986","type":"http response","z":"64b0c5a9.f2854c","name":"","x":1210,"y":400,"wires":[]},{"id":"2e77a78b.eaf8e8","type":"change","z":"64b0c5a9.f2854c","name":"Store Device 2 Status","rules":[{"t":"set","p":"action2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":500,"wires":[[]]},{"id":"1b78399d.1ee3b6","type":"http in","z":"64b0c5a9.f2854c","name":"","url":"/camera2","method":"get","upload":false,"swaggerDoc":"","x":710,"y":500,"wires":[["fa47739e.97a6a"]]},{"id":"fa47739e.97a6a","type":"change","z":"64b0c5a9.f2854c","name":"Copy Device 2 Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"action2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":500,"wires":[["84c766cc.6bf168"]]},{"id":"84c766cc.6bf168","type":"http response","z":"64b0c5a9.f2854c","name":"","x":1210,"y":500,"wires":[]}]